@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand&family=Roboto:wght@100;500&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
}

/*--------------- Image Carousel -------------*/

.carousel {
  position: relative;
  color: white;
}

.carouselDots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.carouselDot {
  border-radius: 60%;
  width: 10px;
  height: 10px;
  background-color: white;
  text-align: center;
}

.carouselInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------------------NavBar --------------------*/
.header {
  background-color: #2c3846;
  width: 100%;
  min-height: 70px;
  position: fixed;
  z-index: 3;
}

.logoImage {
  width: 30px;
  height: 30px;
  margin-top: 18px;
}

.navbar {
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
}

.navlink,
.navlink:hover,
.navlink:visited {
  text-decoration: none;
  color: #ffffff;
}

.navBarList {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navItem {
  font-size: 18px;
  line-height: 27px;
  margin-top: 25px;
  margin-right: 55px;
}

/*--------------- games -----------------*/
.games {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5%;
}

.categoriesList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.categoriesItem {
  background-color: #f2f6ff;
  color: black;
  margin-right: 20px;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
}

.categoriesItem:hover {
  background-color: #4986ff;
  color: #ffffff;
}
.gameItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.gameItem img {
  width: 265px;
  height: 200px;
  border-radius: 10px;
}
.gameItem p {
  text-align: center;
}

/*----------------------- about ---------------------*/
.about {
  background-color: #2c3846;
  padding: 5%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  /* position: relative; */
}

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.marioFlying {
  background-color: red;
  position: relative;
  /* position: absolute;
  width: 365px;
  height: 365px;
  top: -8em;
  right: 200px; */
}

.mario {
  position: absolute;
  width: 265px;
  height: 265px;
  top: -12em;
  right: 3em;
}

/*--------------------------------testimonials-------------------*/
.testimonials {
  background-color: #ffffff;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.testimonialCardInside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.testimonialCardImage {
  height: auto;
  width: 80px;
  border-radius: 50%;
}

.reviewer {
  font-weight: 900;
  font-size: 1.2em;
}

.review {
  color: #666666;
  font-weight: 600;
  font-size: 1.2em;
}

.subreview {
  color: #666666;
  font-weight: 400;
  font-size: 1.2em;
}

.ratingImage {
  height: 32.43px;
  width: 32px;
}

.testimonialCarouselDots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.testimonialCarouselDot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #f2f6ff;
  text-align: center;
}

/*-------------------------Footer --------------------------------*/
